<%- include('../shared/header', { title: 'Color' }); %>

<h2>Color al azar</h2>
<button id="boton_color" class="boton" type="button">Cambiar color</button>
<div id="color_container" class="color-container">

</div>
<script src="js/color.js"></script>

<%- include('../shared/footer'); %>
